
{% if settings.product_grid_layout == '4-col' %}
{% assign grid_item_width = '3' %}
{% elsif settings.product_grid_layout == '3-col' %}
{% assign grid_item_width = '4' %}
{% else %}
{% assign grid_item_width = '6' %}
{% endif %}


{% unless grid_item_width %}
{% assign grid_item_width = '4' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.available and product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}



<div class="col-md-{{ grid_item_width }} col-sm-4 col-xs-4 pro-loop"> 
	<!--sử dụng {% cycle '', '', 'end' %} -->
	<div class="product-block product-resize card-product-collection">
		<div class="product-img image-resize view view-third">
			{%- comment -%}
			{% if on_sale %}
			<div class="product-sale" >
				<img src="//hstatic.net/0/0/global/design/theme-default/sale.png" alt="{{product.title}}" />
				<span><label class="sale-lb">Sale</label> {{product.variants.first.compare_at_price | minus: product.variants.first.price | divided_by:product.variants.first.compare_at_price | times : 100 | round : 0}}%</span>
			</div>
			{% endif %}
			{%- endcomment -%}
			{% if sold_out %}
			<div class="sold-out">Hết hàng</div>
			{% endif %}

			<a href="{{product.url}}" title="{{product.title}}">
				{% comment %}
				<div class="mask">
					<img src="//hstatic.net/0/0/global/design/member/default/quick-look.png" data-handle="{{product.url}}" alt="{{product.title}}" />
				</div>
				{% endcomment %}
				<img alt="{{product.title}}" src="{%if product.images.size > 0%}{{ product.featured_image.src | product_img_url: 'large' }}{%else%}//hstatic.net/0/0/global/design/theme-default/no-image.png{%endif%}" alt="{{ product.featured_image.alt | escape }}" />
			</a>
		</div>
		
		{% include 'color-container' %}
		
		<div class="product-detail clearfix">
			{% if settings.product_reviews %}
			<div class="hidden-xs">
				<span class="haravan-product-reviews-badge" data-id="{{ product.id }}"></span>
			</div> 
			{% endif %}

			<!-- sử dụng {% cycle 'pull-left','pull-right'%} -->
			<div class="pro-price-wrap">
				<p class="pro-price">{{ product.price | money }}</p>
				<p class="pro-price-del text-left">{% if on_sale %}<del class="compare-price">{{ product.compare_at_price | money }}</del>{% endif %}</p>
			</div>
			
		<h3 class="pro-name"><a href="{{ product.url | within: collection }}" title="{{product.title}}">{{ product.title }} </a></h3>
		{% if settings.show_grid_vendor %}
		<p>by {{ product.vendor }}</p>
		{% endif %}
	</div>
</div>	
</div>


