@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: black;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #000;
}

.product-item {
    position: relative;
    background-color: white;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    aspect-ratio: 2.5 / 3.5;
}

.product-item.sale .image-container {
    position: relative;
}

.image-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.image-container .image2 {
    opacity: 0;
}

.product-item:hover .image-container .image1 {
    opacity: 0;
}

.product-item:hover .image-container .image2 {
    opacity: 1;
}

.sale-badge, .out-of-stock-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: clamp(0.6rem, 1.5vw, 0.8rem);
    z-index: 2;
}

.sale-badge {
    background-color: red;
    color: white;
}

.out-of-stock-badge {
    background-color: black;
    color: white;
}


/* Sale price */
.product-price.original {
    text-decoration: line-through;
    color: #555555;
}

.product-price.sale {
    color: red;
}

.out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.product-info {
    display: flex;
    width: 100%;
    font-size: clamp(0.8rem, 1vw, 1rem);
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    z-index: 1;
}

.product-info .left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-info .right-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-name {
    color: #111111 !important;
    opacity: .7;
    text-align: left;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: clamp(5px, 0.8vw, 10px);
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.product-price {
    font-weight: 500;
    text-align: left;
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.color-options {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.color {
    display: inline-block;
    width: clamp(10px, 1vw, 12px);
    height: clamp(10px, 1vw, 12px);
}

.color.beige { background-color: #f5f5dc; }
.color.blue { background-color: #0000ff; }
.color.black { background-color: #000000; }
.color.white { background-color: #ffffff; border: 1px solid #ddd; }
.color.brown { background-color: #8b4513; }

@media (max-width: 1200px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .product-info {
        padding: 15px;
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .product-info {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .product-info {
        padding: 8px;
    }
}
