@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #111111;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product-item {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    transition: transform 0.3s ease;
    border-top: none;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    height: 700px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.image-container .image2 {
    opacity: 0;
}

.product-item:hover .image-container .image1 {
    opacity: 0;
}

.product-item:hover .image-container .image2 {
    opacity: 1;
}


/* Sale badge */
.product-item.sale .image-container {
    position: relative;
}

.sale-badge, .out-of-stock-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    z-index: 2;
}

.out-of-stock-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    z-index: 2;
}


/* Sale price */
.product-price.original {
    text-decoration: line-through;
    color: #555555;
    /* margin-bottom: 5px; */
}

.product-price.sale {
    color: red;
}

/* Out of stock overlay */
.out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.product-item.out-of-stock .image-container {
    position: relative;
}

.product-info {
    display: flex;
    width: 100%;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    z-index: 1;
}

.product-info .left-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-name {
    color: #111111 !important;
    opacity: .7;
    text-align: left;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
    display: -webkit-box;
    overflow: hidden;
    margin-top: 10px;
}

.product-price {
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.color-options {
    display: flex;
    justify-content: center;
    gap: 5px;
    /* margin-bottom: 10px; */
}

.color {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.color.beige {
    background-color: #f5f5dc;
}

.color.blue {
    background-color: #0000ff;
}

.color.black {
    background-color: #000000;
}

.color.white {
    background-color: #ffffff;
    border: 1px solid #ddd;
}

.color.brown {
    background-color: #8b4513;
}



@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-item{
        height: 500px;
    }
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-item{
        height: 400px;
    }


    .product-info {
        padding: 10px 15px;
        font-size: 0.8rem;
    }

    .product-info > *{
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-info .right-info{
        justify-content: flex-end;
    }

    .product-info .product-name{
        margin-top: 0;
    }

    .product-info .product-price.sale {
        margin-top: auto;
    }

    .color{
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 480px){

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-info{
        padding: 10px;
    }

    .product-info > *{
        height: 20px;
    }

    .sale-badge, .out-of-stock-badge{
        padding: 3px 6px;
        font-size: 0.3em;
    }
   
    .product-info .product-name {
        font-size: 0.5rem;
        
    }

    .product-info .product-price {
        font-size: 0.5rem;
    }

    .product-item{
        height: 300px;
    }

    .color-options .color{
        width: 5px;
        height: 5px;
    }
}

@media (max-width: 320px){

    .product-info{
        padding: 8px;
    }
   
    .product-info {
        font-size: 0.5rem;
    }

    .product-item{
        height: 300px;
    }


    .color-options .color{
        width: 5px;
        height: 5px;
    }

  
}


