{{ 'page.css' | asset_url | stylesheet_tag }}
<div class="col-md-9 col-sm-12 col-xs-12" id="layout-page">
	<div id="404">
		<span class="header-page clearfix">
			 <h1>Thông báo</h1>
		</span>
		<div class="col-md-12">
			<span class="subtext">Xin lỗi, trang này không tồn tại hoặc đã bị xóa :(</span>
		</div>
	</div>
</div>