
<div id="haravan-section-footer" class="haravan-section">
	<footer class="site-footer" role="contentinfo">
		<div class="wrapper">
			<div class="grid-uniform">
			</div>
			<div class="in-f">
				<div id="i-sc_btn">
					<a href="https://www.instagram.com/thisisneverthat/" target="_blank"><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/i_ins_bl.png?2841829076565236492" alt="instagram" class="i_bl"></a>
					<a href="https://www.facebook.com/thisisneverthat" target="_blank"><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/i_fb.png?2841829076565236492" alt="fb" class="i_bl"></a>
					<a href="https://vimeo.com/thisisneverthat" target="_blank"><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/i_vimeo.png?2841829076565236492" alt="vimeo" class="i_bl"></a>
				</div>
				<div id="legal">
					<div class="ft-list">
						<ul>
							<li><a href="/pages/shipping-and-returns">shipping<span class="b-14">|</span>returns</a></li>
							<li><a href="/pages/contact">contact</a></li>
							<li><a href="mailto:intl@thisisneverthat.com">email</a></li>
						</ul>
					</div>
					<div class="ft-list">
						<ul>
							<li><a href="/pages/terms">terms of use</a></li>
							<li><a href="/pages/privacy-policy">privacy policy</a></li>
						</ul>
					</div>
				</div>
				<a id="btn_nl" data-state="1">Subscribe to <span class="lwr">thisisneverthat®</span> newsletter</a>
				<div id="nl" style="display: none;">
					<h4><span class="lwr">thisisneverthat®</span> newsletter</h4>
					<a id="nl_clos"><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/clos.svg?8185"></a>
					<p class="subs">Get exclusive deals and more!</p>
					<iframe src="https://thisisneverthat-raffle.com/n11/index.php" border="0" id="ifr"></iframe>
				</div>
			</div>
			
			<div class="pay_info">
				
				<ul>
					<li>
						<a href="http://online.gov.vn/Home/WebDetails/68641">
								<img alt='' title='' src="http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" width="150"/>
						</a>
					</li>
					<li><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/paypal.png?7229" alt="Paypal"></li>
					<li><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/visa.png?7243" alt="Visa"></li>
					<li><img src="https://cdn.haravan.com/s/files/1/1587/6839/files/mastercard.png?7229" alt="Mastercard"></li>
				</ul>
			</div>
			<div class="credit">
				<p class="site-footer__links">2020 ©  <a href="/" title="">thisisneverthat</a>®</p>
				<div id="site-credit">
					site by <a href="http://tv-sy.com" target="_blank">tv-sy</a>
				</div>
			</div>
		</div><!-- wrapper -->
	</footer>
</div>
